/**
 * @name coretheme
 * @author TYUFUN
 * @version 1.0.0
 * @description core theme 
 * @source https://github.com/TYUFUN/CustomizableTyufunTheme/blob/main/coretheme.css
 */





 /* div[class*="scroller_"][class*="guilds_"] {
    background-color: transparent !important;
} */


/* ul[class*="stack_"] {
    background-color: transparent !important;
} */
/* --- 2. Вторая панель (Каналы и блок пользователя) --- */

/* div[class*="sidebar_"] {
    background-color: transparent !important;
} */
/* div[class*="scrollableContainer_"], [class*="inner_"] {
    background-color: var(--message-box-transparency) !important;
}
/* div.container_c8ffbb {
    background-color: initial !important;
}
div[class*="standardSidebarView_"],
div[class*="sidebarRegionScroller_"],
div[class*="contentRegion_"],
div[class*="contentRegionScroller_"],
div[class*="background_"],
div[class*="fieldList_"] {
    background-color: initial !important;
} */


/* use bg image */
div[class*="appMount_"] {
    background-image: var(--background-image) !important;
    background-size: cover !important;
    background-position: center !important;
}

/* use theme transparency */
div[class*="app_"] {
    background-color: var(--theme-transparency) !important;
}

/* обoдки */
div[class*="bg_"] {
    background-color: transparent !important;
}

/* servers bg */
nav[class*="guilds_"] {
    background-color: transparent !important;
}


 /* server channels bg */
nav[class*="container_"] {
    background-color: transparent !important;
}


/* Блок с ником, микрофоном и наушниками в самом низу */
section[class*="panels_"] {
    background-color:var(--vc-spotify-player-transparency) !important;
}
#vc-spotify-player {
    background-color: var(--vc-spotify-player-transparency) !important;
    height: var(--vc-spotify-player-height) !important;
}

/* --- 3. Центральная часть (Чат) --- */
div[class*="chat_"],
main[class*="chatContent_"] {
    background-color: transparent !important;
}

/* Полоса прокрутки (Скроллбар) */
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color) !important;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent !important;
}

section[class*="title_"] {
    background-color: transparent !important;
}

/* Сам контейнер с полем ввода */
form[class*="form_"] div[class*="channelTextArea_"] {
    background-color: var(--message-box-transparency) !important;
}

/* Обёртка вокруг textarea (иногда фон именно тут) */
div[class*="channelTextArea_"] div[class*="scrollableContainer_"] {
    background-color: transparent !important;
}

/* private chats */
ul[class*="content_"] {
    background-color: transparent !important;
}
div[class*="sidebarList_"], nav[class*="privateChannels_"] {
    background-color: transparent !important;
}
div[class*="sidebar_"] {
    background-color: transparent !important;
}
div[class*="scroller_"] {
    background-color: transparent !important;
}
div[class*="sidebar_"]::after {
    background-color: transparent !important;
}

/* members on ds server */

div[class*="container_"] {
    background-color: transparent !important;
}
aside[class*="membersWrap_"] {
    background-color: transparent !important;
}
div[class*="members_"] {
    background-color: transparent !important;
}
div[class*="content_"] {
    background-color: transparent !important;
}

/* nav[class*="guilds_"], div[class*="scroller_"] {
    width: var(--server-listing-width) !important;
}
div[class*="stack_"] {
    width: fit-content !important;
}
div[class*="listItem_"] {
    float: left !important;
}
nav[class*="guilds_"]::after {
    content: "";
    display: block;
    clear: both;
} */
 div[class*="children__"]:after, div[class*="children_"]:after {
   background: initial !important;
}
section[class*="container_"] {
    background-color: transparent !important;
}
div[class*="page_"] {
    background-color: transparent !important;
}
main[class*="container_"] {
    background-color: transparent !important;
}
div[class*="tabBody_"] {
    background-color: transparent !important;
}
div[class*="peopleColumn_"] {
    background-color: transparent !important;
}
div[class*="nowPlayingColumn_"] {
    background-color: transparent !important;
}
aside[class*="container_"] {
    background-color: transparent !important;
}
div[class*="scroller_"] {
    background-color: transparent !important;
}
div[class*="itemCard_"] {
    background-color: transparent !important;
}
div[class*="actionButton_"] {
    background-color: var(--theme-transparency) !important;
}
div[class*="addFriend_"]{
    background-color: var(--theme-transparency) !important;
}
div[class*="inner_"] {
    background-color: transparent !important;
}